html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f2f2;
}

.noUnderline{
    text-decoration: none;
    color: black;
}

.noUnderline:hover{
        color: blue;
}


a{
    color: #FFFFFF;
    text-decoration: none;
}




.center-text{
    font-size: calc(100% + 1.2vw);
    font-weight: bold;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

.small-text{
    font-size: 20;
}



.containerBox{
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;
    padding: 20px;
    margin: 20px;
}

.placeHolder {
    height: 10%;
}






#welcomePage{
    width: 100%;
    min-height: 100%;
}


#intro-container{
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 2px 5px 3px #888888;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

#intro-column-flex{
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


#link-logo{
    width: 70;
    align: left;
    margin-right: 10;
    transition: transform .2s;
}

#link-logo:hover{
    transform: scale(1.3);
}


/*#profile-image-container{*/
/*    position: relative;*/
/*    width: 30%;*/
/*    padding-bottom: 20%;*/
/*}*/

#profileImage{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    height: 250px;
}

#intro-text{
    color: #03af48;
    margin-top: 3px;
    margin-bottom: 1px;
    font-weight: bold;
    font-size: calc(100% + 0.3vw);
    text-align: center;
}


.page-links-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.page-links-box{
    background: #04ce55;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;
    

/*    height: 100px;*/
/*    width: 150px;*/
    padding: 20px;
    margin: 20px;
    display: table;
    transition: transform .2s;
}


.page-links-box:hover{
    transform: scale(1.05);
}




.nameLabel {
    color: #03af48;
    margin-top: 3px;
    margin-bottom: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #04ce55;
    font-size: calc(100% + 5vw);
    text-align: center;
}

.heading {
    color: #03af48;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #04ce55;
    font-size: calc(100% + 2vw);
}

.subheading {
    color: #03af48;
    margin-top: 3px;
    margin-bottom: -12px;
    font-weight: bold;
    font-size: calc(100% + 0.9vw);
}








#educationTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#educationTable td, #educationTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#educationTable tr:nth-child(even){background-color: #ffffff;}


#educationTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    }



#video-container {
    position: relative;
    width: 50%;
    padding-bottom: 30%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


#video-frame {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}


#top-button{
    background: #04ce55;
    border-radius: 40px;
    box-shadow: 5px 10px 8px #888888;
    height: 40px;
    width: 40px;
    padding: 20px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s;
}


#top-button:hover{
    transform: scale(1.2);
}
